{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "env": {
    "node": true
  },
  "root": true,
  "rules": {
    "import/order": ["error", { "newlines-between": "always", "alphabetize": { "order": "asc" } }]
  },
  "overrides": [
    {
      "files": ["**/*.@(spec|int|test).{j,t}s"],
      "rules": {
        "@typescript-eslint/ban-ts-comment": 1
      }
    },
    {
      "files": ["scripts/**/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0
      }
    }
  ]
}
